body {
  font-family: $font-primary;
  font-weight: $weight-medium;
  color: $primary-900;
}

img {
  border-style: none;
  vertical-align: middle;
}

.image {
  width: 100%;
  height: auto;
}

.image--section {
  height: 100%;
  object-fit: cover;
}
