// Fonts
$font-primary: 'Montserrat', sans-serif;

// Weights
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;

// Colors
$white: #FFFFFF;
$black: #000000;

$primary-100: #E7F0FF;
$primary-300: #7387AC;
$primary-400: #5F7AFF;
$primary-500: #264AFB;
$primary-900: #00065B;

$conversion-400: #06EB83;
$conversion-500: #01D684;
$conversion-600: #009E61;

// Others
$container-width: 88rem;
$header-height: 4.5rem;
$header-height-desktop: 6.5rem;

$global-radius: 0.5rem;
$global-transition: all 0.2s ease-in;
